/*公共样式*/
.fl {
    float: left;
}

.fr {
    float: right;
}

.cf:after {
    content: "";
    display: block;
    clear: both;
    height:0;
    overflow: hidden;
}

.cf {
    *zoom: 1;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.commonWidth{
    width:1202px;
    margin:0 auto;
}
.commonTitle h3{
    text-align: center;
    font-size:26px;
    font-weight: normal;
    color:#43474a;
    margin:42px 0 14px 0;
}
.commonTitle p{
    text-align: center;
    font-size:16px;
    color:#52575a;
    margin-bottom:44px;
}
.commonCategory{
    height:38px;
    background-color:#b7bfcc;
}
.commonCategory h3{
    display: inline-block;
    line-height:38px;
    padding:0 24px;
    color:#fff;
    font-size:14px;
    font-family: "Microsoft YaHei", 'Georgia', Times, Times New Roman, serif;
    background-color:#356fd9;
    font-weight: normal;
}
